@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root {
  --font: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  padding: 0;
  margin: 0;
}

label {
  display: flex;
  margin: 30px 0px 10px 40px;
  font-size: 1rem;
  color: #a29bc8;
}

input {
  margin: 0px 0px 10px 40px;
  width: 200px;
  height: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: 0;
}
input:focus {
  border-color: #0e054d;
}
.form {
  background: #f4f4f8;
  padding: 10px calc((100% - 960px) / 2);
  font-family: var(--font);
}

.title {
  text-align: center;
  color: #0e054d;
  font-size: 2.5rem;
  margin: 40px;
}

.container {
  background: #fff;
  width: 960px;
  height: 600px;
  border-radius: 5%;
  display: grid;
  grid-template-columns: 380px 600px;
  grid-template-rows: auto;
}

.circle {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #f44c57;
  left: 275px;
}

/* Formulário */
.form-fields {
  grid-column: 2;
  margin-top: 20px;
}

.row {
  display: flex;
}

.accommodations {
  margin: 60px 0px 20px 0px;
}

.accommodations p {
  font-size: 1rem;
  font-weight: 600;
  color: #0e054d;
  margin-left: 40px;
}

.accommodations label {
  color: #472ecd;
}

.accommodations input {
  display: block;
  position: relative;
  top: 30px;
  right: 50px;
}

.rooms {
  display: flex;
}

.message {
  margin-top: 60px;
}
.message label {
  display: block;
  color: #0e054d;
  font-weight: 600;
}

.message textarea {
  margin-left: 40px;
  border-right: none;
  border-top: none;
  border-left: none;
  margin-top: 20px;
  font-family: var(--font);
  font-size: 0.875rem;
  resize: none;
}
/* Contact */
.contact {
  grid-column: 1;
  background: #472ecd;
  height: 600px;
  border-radius: 5%;
  /* position: relative;
  bottom: 50px; */
}

.contact h2 {
  text-align: center;
  padding: 20px;
  color: #fff;
  font-size: 1.6rem;
}

.contact p {
  text-align: center;
  color: #e5e5e5;
  font-size: 0.975rem;
  margin-bottom: 50px;
}

.contact li {
  margin-bottom: 20px;
}

.contact li a {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
}

.contact img {
  position: relative;
  top: 7px;
}

/* Acerta o posicionamento do span em relação a imagem */
.contact span {
  display: flex;
  position: relative;
  bottom: 20px;
  margin-left: 40px;
}

/* redes */
.redes-sociais {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.redes-sociais img {
  margin-right: 50px;
}

/* JS CSS Styles */
.on {
  color: #0e054d;
}
